body {
  color: rgb(248, 248, 248);
  font-family: 'Nerko One', cursive;
}

div.card {
  margin-bottom: 3rem;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 20px;
  padding-right: 20px;
}
#book {
  color: #fff;
}
.container-bg {
  background-color: rgba(245, 246, 250, 0.2);
}
.page-background {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(../images/2.jpeg);
  height: 95vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6px 12px;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.7);
}

.custom-jumbotron {
  -webkit-box-shadow: 3px 3px 5px 6px black;
  -moz-box-shadow: 3px 3px 5px 6px black;
  box-shadow: 3px 3px 5px 6px black;
}

.inner-addon {
  position: relative;
}

.inner-addon .fas {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .fas {
  left: 0px;
}

.left-addon input {
  padding-left: 30px;
}
/* #cardBg1 {
  background-image: url(../images/3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#cardBg3 {
  background-image: url(../images/3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#cardBg2 {
  background-image: url(../images/3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

#book-now-button:link,
#book-now-button:visited,
#create-course-button:link,
#create-course-button:visited {
  border-radius: 100px;
  background-color: rgba(83, 11, 11, 0.4);
  transition: all 0.2s;
}

#book-now-button:hover,
#create-course-button {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
#book-now-button:active,
#create-course-button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.landing-page-cards {
  box-shadow: 0 8px 6px -6px black;
  color: rgb(92, 89, 89);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  transition: transform 0.2s;
}
.landing-page-cards h5 {
  text-transform: uppercase;
  font-weight: bold;
}

.landing-page-cards .fas,
.landing-page-cards .far {
  font-size: 30px;
  color: rgba(255, 121, 121, 0.8);
}

.landing-page-cards:hover {
  transform: scale(1.1);
}
